@use "abscracts";
@use "base";

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    background: var(--color-bg)
  }

  &-thumb {
    background: var(--text-color);
  }
}
body {
  background-color: abscracts.$color-bg;
}


.header {
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 1px 10px 0 #000;
  backdrop-filter: blur(15px);

  &--container {
    margin: 0 auto;
    width: clamp(280px, 80%, 1360px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

a.logo {
  display: flex;
  align-items: center;
  animation: Fade 1s ease-in-out;
  padding: 10px 0;
  gap: 10px;

  img {
    animation: Spin .5s cubic-bezier(0.42, 0, 0.12, 1.34);
    width: clamp(32px, 4vw, 75px);
  }
}

.nav {
  animation: SlideLeft 1s cubic-bezier(0.42, 0, 0.12, 1.34);
  display: none;
}

#hamburger {
  width: 40px;
}

.main {
  display: grid;
  margin: 120px auto;
  width: clamp(320px, 80%, 1360px);
  gap: 100px;
}

.landing {
  flex-direction: column;
  display: flex;
  gap: 20px;

  .left {
    h1 {
      animation: SlideLeft 1s cubic-bezier(0.42, 0, 0.12, 1.34) forwards;
      opacity: 0;
    }

    p {
      animation: SlideLeft 1s cubic-bezier(0.42, 0, 0.12, 1.34) 0.2s forwards;
      opacity: 0;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;

    img {
      animation: SlideRightImg 1s cubic-bezier(0.42, 0, 0.12, 1.34) 0.2s forwards;
      width: clamp(240px, 40vw, 628px);
    }
  }
}

#about_us, #contact-us, #developers {
  scroll-margin-top: 60px;
}

.about_us {
  text-align: center;

  h2 {
    animation: Spacing 1s linear;
  }

  .illustrations {
    display: flex;
    justify-content: space-around;
    width: 100%;

    img {
      opacity: 0;
      width: clamp(90px, 20vw, 300px);

      &:nth-child(1) {
        animation: SlideDown 1s cubic-bezier(0.42, 0, 0.12, 1.34) forwards;
      }

      &:nth-child(2) {
        animation: SlideDown 1s cubic-bezier(0.42, 0, 0.12, 1.34) 0.25s forwards;
      }

      &:nth-child(3) {
        animation: SlideDown 1s cubic-bezier(0.42, 0, 0.12, 1.34) 0.5s forwards;
      }
    }
  }
}

.perks {
  text-align: center;

  .details {
    padding: 0;
  }

  .card:nth-child(1) p {

    &:before {
      background: abscracts.$action-color;
      transform: translate(-47%, -50%);
    }

    &:after {
      color: abscracts.$action-color-3;
      transform: translate(-53%, -50%);
    }
  }

  .card:nth-child(2) p {
    &:before {
      background: abscracts.$text-color;
      transform: translate(-53%, -53%);
    }

    &:after {
      color: abscracts.$action-color;
      transform: translate(-47%, -47%);
    }
  }

  .card:nth-child(3) p {
    &:before {
      background: abscracts.$action-color-2;
      transform: translate(-53%, -47%);
    }

    &:after {
      color: abscracts.$text-color;
      transform: translate(-47%, -53%);
    }
  }

  .card:nth-child(4) p {
    &:before {
      background: abscracts.$text-color;
      transform: translate(-47%, -47%);
    }

    &:after {
      color: abscracts.$action-color;
      transform: translate(-53%, -53%);
    }
  }

  .card:nth-child(5) p {
    &:before {
      background: abscracts.$action-color;
      transform: translate(-53%, -47%);
    }

    &:after {
      color: abscracts.$action-color-3;
      transform: translate(-50%, -53%);
    }
  }

  .card:nth-child(6) p {
    &:before {
      background: abscracts.$action-color-2;
      transform: translate(-56%, -47%);
    }

    &:after {
      color: abscracts.$action-color-3;
      transform: translate(-53%, -53%);
    }
  }

  .card:nth-child(7) p {
    &:before {
      background: abscracts.$action-color;
      transform: translate(-47%, -53%);
    }

    &:after {
      color: abscracts.$action-color;
      transform: translate(-53%, -47%);
    }
  }

  p.number_circle {
    padding: 0;
    user-select: none;
    color: abscracts.$text-color-white;
    position: relative;
    width: 100%;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      border-radius: 50%;
      width: clamp(160px, 60%, 240px);
      aspect-ratio: 1/1;
    }

    &:after {
      border: 5px solid;
    }
  }
}

.supply_chain {
  h2 {
    text-align: center;
  }

  /*.step {
    width: 60%;
  }*/
}

.contact-us {
  text-align: center;

  .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
      width: clamp(240px, 40vw, 484px);
    }

    .left {
      display: grid;
      place-items: center;
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  form {
    padding: 20px;
    display: flex;
    max-width: 620px;
    flex-direction: column;
    grid-gap: 20px;

    .form-identity {
      display: flex;
      grid-gap: 26px;

      input#name {
        width: 33%;
      }

      input#mail {
        width: 66%;
      }
    }
  }

  input, textarea {
    padding: 10px 20px;
    border: 3px solid var(--text-color);
    transition: box-shadow 0.5s;
    border-radius: 12px;
    box-shadow: none;

    &::placeholder {
      opacity: 0.25;
    }

    &[type=submit] {
      min-width: 25%;
      width: max-content;
      border: 3px solid transparent;
      font-family: 'Poppins', sans-serif;
      background-color: abscracts.$action-color;
      box-shadow: 5px 5px 0 0 abscracts.$text-color;
      padding: 10px 40px;
    }

    &:focus, &:focus-within {
      outline: 0;
      box-shadow: 5px 5px 0 0 abscracts.$action-color;
    }
  }

  textarea {
    height: 150px;
  }
}


footer {
  background-color: abscracts.$dev-color;

  .container {
    padding: 40px 0;
    margin: 0 auto;
    width: clamp(280px, 80%, 1360px);
  }

  .list-wrapper {
    display: grid;
    place-items: center;
    overflow-x: scroll;
    width: 100%;
  }

  .list {
    display: flex;
    max-width: content-box;
  }

  .dev {
    display: grid;
    place-items: center;
    margin: 0 20px;

    img {
      width: 224px;
      height: 327px;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .dev-name {
    width: calc(100% - 20px);
    text-align: center;
    padding: 10px;
    margin: 20px;
  }

  img, p {
    border-radius: 32px;
    border: 4px solid abscracts.$text-color;
  }
}

.perks-wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(30%, 300px, 40%);
  }
}

@media (min-width: 920px) {
  #hamburger {
    display: none;
  }

  .nav {
    display: flex;

    .nav--link {
      padding: 10px 20px;
    }
  }

  .landing {
    flex-direction: row;
  }

  .contact-us .contact {
    flex-direction: row;
  }

  .card {
    transition: all 1s ease-in-out;
  }

  .supply_chain h2 {
    text-align: left;
  }
}
