@use "../abscracts";

.header {
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 1px 10px 0 #000;
  background-color: rgba(abscracts.$color-bg, 80%);

  &--container {
    margin: 0 auto;
    width: clamp(280px, 80%, 1360px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width: 767px) {
      &>.nav--link {
        display: none;
        padding-right: 0;
      }
    }
  }
}

a.logo {
  display: flex;
  align-items: center;
  animation: Fade 1s ease-in-out;
  padding: 10px 0;
  gap: 10px;

  img {
    animation: Spin .5s cubic-bezier(0.42, 0, 0.12, 1.34);
    width: clamp(32px, 4vw, 75px);
  }
}

.nav--link {
  padding: 10px 20px;
  animation: SlideLeft 1s cubic-bezier(0.42, 0, 0.12, 1.34);
}

.nav#menu {
  display: none;
  position: relative;
  z-index: 1;

  animation: SlideRight 1s cubic-bezier(0.42, 0, 0.12, 1.34);

  @media (min-width: 768px) {
    &>.responsive-nav {
      display: none;
    }
  }

  &.open {
    z-index: 3;
    background-color: white;
    padding: 60px 40px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;

    gap: 20px;
    height: 100vh;
    position: absolute;
    box-shadow: 2px 2px 5px 0 abscracts.$text-color;

    a {
      padding-right: 0;
      text-align: right;
    }

    #closer {
      margin-bottom: 40px;
    }
  }

  img {
    height: 24px;
    user-select: none;
    cursor: pointer;
  }
}

#hamburger {
  width: 40px;
  z-index: 1;
  user-select: none;
  cursor: pointer;

  &.open img {
    transition: all 0.3s ease-in-out;
    transform: rotateZ(-180deg);
  }
}