@use "../abscracts";

.perks {
  text-align: center;

  .details {
    padding: 0;
  }

  .card:nth-child(1) p {

    &:before {
      background: abscracts.$action-color;
      transform: translate(-47%, -50%);
    }

    &:after {
      color: abscracts.$action-color-3;
      transform: translate(-53%, -50%);
    }
  }

  .card:nth-child(2) p {
    &:before {
      background: abscracts.$text-color;
      transform: translate(-53%, -53%);
    }

    &:after {
      color: abscracts.$action-color;
      transform: translate(-47%, -47%);
    }
  }

  .card:nth-child(3) p {
    &:before {
      background: abscracts.$action-color-2;
      transform: translate(-53%, -47%);
    }

    &:after {
      color: abscracts.$text-color;
      transform: translate(-47%, -53%);
    }
  }

  .card:nth-child(4) p {
    &:before {
      background: abscracts.$text-color;
      transform: translate(-47%, -47%);
    }

    &:after {
      color: abscracts.$action-color;
      transform: translate(-53%, -53%);
    }
  }

  .card:nth-child(5) p {
    &:before {
      background: abscracts.$action-color;
      transform: translate(-53%, -47%);
    }

    &:after {
      color: abscracts.$action-color-3;
      transform: translate(-50%, -53%);
    }
  }

  .card:nth-child(6) p {
    &:before {
      background: abscracts.$action-color-2;
      transform: translate(-56%, -47%);
    }

    &:after {
      color: abscracts.$action-color-3;
      transform: translate(-53%, -53%);
    }
  }

  .card:nth-child(7) p {
    &:before {
      background: abscracts.$action-color;
      transform: translate(-47%, -53%);
    }

    &:after {
      color: abscracts.$action-color-3;
      transform: translate(-53%, -47%);
    }
  }

  p.number_circle {
    padding: 0;
    user-select: none;
    color: abscracts.$text-color-white;
    position: relative;
    width: 100%;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      border-radius: 50%;
      width: clamp(160px, 60%, 240px);
      aspect-ratio: 1/1;
    }

    &:after {
      border: 5px solid;
    }
  }
}

.perks-wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(30%, 300px, 40%);
  }
}

@media (min-width: 920px) {
  .landing {
    flex-direction: row;
  }

  .contact-us .contact {
    flex-direction: row;
  }

  .card {
    transition: all 1s ease-in-out;
  }

  .supply_chain h2 {
    text-align: left;
  }
}
