.supply_chain {
  h2 {
    text-align: center;
  }

  .step {
    img {
      min-height: 180px;
      width: auto;
    }
  }
}

.img-left {
  float: left;
  padding-right: 50px;
}

.img-right {
  float: right;
  padding-left:50px;
}