.supply_chain {
  h2 {
    text-align: center;
  }

  .step {
    img {
      min-height: 180px;
      width: auto;
    }
  }
}

.img-left {
  float: left;
  padding-right: 50px;
}

.img-right {
  float: right;
  padding-left: 50px;
}

// This is a quick fix for the supply chain section caused the whole page to overflow.
// Temporary fix until responsive design is implemented.
@media (min-width: 480px) {
  .supply_chain {
    display: none;
  }
}